<h2>User info</h2>
<%= form_with model: user do |f| %>
  <%= image_tag user.get_profile_image(100,100) %>

  <table class="table table">
    <tbody>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
    </table>

        <button class="navbar-toggler">
          <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary' do %>
            <span class="fa-solid fa-user-gear"></span>
          <% end %>
        </button>


<% end %>

      <%= form_with model: Book do |f| %>
        <h2>New book</h2>

        <h6>Title</h6>
        <%= f.text_field :title %>

        <h6>Opinion</h6>
        <%= f.text_area :body %>

        <h6><%= f.submit 'Create book', class: 'btn btn-success' %></h6>

      <% end %>



