<div class="container mt-3 mx-auto">
  <div class="row">
    <div class="mx-auto">
      <h2>User info</h2>
<%= form_with model: @user do |f| %>

  <% if @user.errors.any? %>
    <%= @user.errors.count %> errors prohibited this obj from being saved:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


  <h5>Name</h5>
  <%= f.text_field :name %>


  <h5>Image</h5>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <h5>Introduction</h5>
  <%= f.text_area :introduction %>

  <h5><%= f.submit 'Update user', class: 'btn btn-secondary'%></h5>

<% end %>
</div>
</div>
</div>