<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e3566137ff.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <%= link_to "Bookers", root_path %>
          </div>

          <div class="col-md-6 offset-md-4">
            <%= link_to user_path(current_user.id) do %>
              <i class="fa-solid fa-house"> Home</i>
            <% end %>

            <%= link_to users_path do %>
              <i class="fa-solid fa-users"> Users</i>
            <% end %>

            <%= link_to books_path do %>
              <i class="fa-solid fa-book-open"> Books</i>
            <% end %>

            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa-solid fa-right-from-bracket"> Log out</i>
            <% end %>
          </div>

  <% else %>
      <div class="col-md-2">
        <%= link_to "Bookers", root_path %>
      </div>

      <div class="col-md-6 offset-md-4">
      <td>
        <%= link_to "Home", root_path %>
      </td>
      <td>
        <%= link_to "About", about_path %>
      </td>
      <td>
        <%= link_to "Sign up", new_user_registration_path %>
      </td>
      <td>
        <%= link_to "Log in", new_user_session_path %>
      </td>
      </div>
    <% end %>
    </tr>
    </table>
        </div>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>
